@import "../../vars.scss";

.landingPageWrapper {
  min-height: 120vh;
  width: 100vw;
  max-width: 100vw;
}

.landingPage {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  overflow-x: hidden;
}
.landingContent {
  position: relative;
  top: 3%;
}

.landingHeading {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 5%;

  p {
    color: #dbd8d3;
  }
}
.headingText {
  position: relative;
  top: 7rem;
  margin-bottom: 2rem;

  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: inherit;
    // font-family: Oswald;
    // font-family: var(--mainFont);
    font-family: var(--mainFont);

    // font-family: Archivo, sans-serif;
    font-weight: 500;
    // font-style: italic;
    // font-size: 3.8rem;
    font-size: 3.4rem;
    color: #d7d3c9;
    line-height: 4rem;
    // text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 0;
    padding-right: 0;
  }
}
.backgroundPattern {
  max-width: 100%;
  display: flex;
  position: relative;
  height: 18rem;
  .leftPattern {
    width: 50%;
    position: relative;
    svg {
      position: absolute;
      color: #90c0a1;
      height: 18rem;
      right: -11rem;
      &::before {
        content: " ";
        position: absolute;
        width: 50vw;
      }
    }
  }
  .rightPattern {
    width: 50%;
    position: relative;
    svg {
      color: #90c0a1;

      position: absolute;
      left: -11rem;
      height: 18rem;
    }
  }
}
.mobileBackground {
  display: none;
}
.headingFirstLine {
  display: flex;
  position: relative;
}
.elementToRevealWrapper {
  overflow: hidden;
}
.elementToReveal {
  box-sizing: content-box;
  opacity: 0;
  // transform: translateY(100%);
}
.loop {
  position: absolute;
  right: 30%;
  top: 10%;

  .loopImg {
    position: relative;
    width: 8rem;
    height: 8rem;

    img {
      position: absolute;
      width: 100%;
      filter: brightness(0);
      opacity: 0.9;
      &:nth-child(2) {
        width: 40%;
        top: 50%; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
      }
    }
  }
}
.changingText {
  font-family: var(--mainFont);
  font-size: 1.3rem;
  color: #dbd8d3;
  margin-top: 2rem;
}
.description {
  width: 60%;
  position: relative;
  font-size: 1.2rem;
  font-family: var(--mainFont);
  color: #d7d3c9;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
  h2 {
    font-family: var(--mainFont);
    // font-size: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
    color: #d7d3c9;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 0;
  }
}
.buttons {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 2rem;
}
.servicesBtn {
  height: 3.4rem;
  width: 11rem;
  background-color: #9abea3;
  color: $Primary;
  span {
    font-weight: 500;
  }
  svg {
    // margin-top: 1px;
  }
  &::before {
    background: #d7d3c9;
  }
}
@media (max-width: 699px) {
  .landingPageWrapper {
    margin-bottom: 5rem;
  }
  .backgroundPattern {
    display: none;
  }
  .mobileBackground {
    display: block;
    color: #90c0a1;
    svg {
      width: 100vw;
    }
  }
  .description {
    width: 60%;
    position: relative;
    color: #d7d3c9;
    text-align: center;
    margin-left: 1%;
    width: 100%;
    margin-top: 8rem;
    font-size: max(1rem, 3vw);
    word-break: break-all;
    hyphens: auto;
    h2 {
      font-family: var(--mainFont);
      font-size: 6vw;
      font-weight: 500;
      color: #d7d3c9;
      margin-bottom: 1rem;
    }
  }
  .landingPage {
    padding: 0 4%;
  }
  .landingHeading {
    font-weight: 800;
    font-size: 2.3rem;
    flex-direction: column;
    margin-top: 5rem;
    .headingText {
      top: unset;
      min-height: 26rem;
      width: 100%;
      h1 {
        font-size: 7vw;
        // width: 95%;
        line-height: 1.5;
      }
      p {
        font-weight: 200;
      }
    }
  }
  .loop {
    position: relative;
    right: unset;
    top: unset;
    display: flex;
    justify-content: center;
    margin: 5% 0;

    .loopImg {
      width: 5rem;
      height: 5rem;
    }
  }

  .headingSecondLine {
    margin-left: 0;
    margin-top: 0;
  }
  .headingThirdLine {
    margin-left: 0;
    margin-top: 0;
  }
  .buttons {
    width: 100%;
    flex-direction: column;
    button {
      width: 100%;
      height: 4rem;
      font-size: 1rem;
    }
  }
}
