.landingPage {
  max-width: 100vw;
  overflow: hidden;
  // height: calc(100vh - 80px);
  height: calc(100vh);
  // margin-top: 4.66667rem;
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 0;
  overflow: hidden;
}

.box {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 200vw;
}

.leftTransition {
  top: 50%;
  visibility: visible;
  right: 50%;
  transform-origin: 100% 50%;
  transform: translate(0, -50%);
}

.rightTransition {
  visibility: visible;
  left: 50%;
  top: 50%;
  transform-origin: 0% 50%;
  transform: translate(0, -50%);
}

.rightImg {
  position: absolute;
  left: 50%;
  width: 50vw;
  bottom: 0;
}

.hidden {
  visibility: hidden;
}
.description {
  height: 100%;
  width: 50%;
}
.clock__dial__hour {
  opacity: 0;
}

.clock__dial {
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.phaseHeading {
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // font-family: MyraidProSemiBold;
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  color: white;
  white-space: nowrap;
  height: 8rem;
  overflow: visible;
}
.pagePart {
  width: 100%;
  max-width: 100%;
  // display: flex;
  position: absolute;
  height: 100%;
  visibility: visible;
  opacity: 1;
  color: white;

  .image {
    width: 50%;
    min-height: 100%;
    height: 100%;
    // z-index: 3;
    position: relative;
    // float: right;
    background-color: inherit;
    img {
      height: 100%;
    }
  }
  .description {
    color: white;
    width: 50%;
    position: relative;
    display: flex;
    height: 100%;
    min-height: 100%;
    background-color: inherit;
    font-family: MyraidProReg;
    align-items: flex-end;
    // position: relative;
    padding: 4rem;
    // float: left;
    // z-index: 3;
  }
  h3 {
    color: white;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
.visible {
  visibility: visible;
}
.pagePart.odd {
  // flex-direction: row-reverse;
  .image {
    float: left;
  }
  .description {
    float: right;
  }
}
.pagePart.even {
  // flex-direction: row-reverse;
  .image {
    float: right;
  }
  .description {
    float: left;
  }
}
.secondSection {
  background-color: red;
}
.active {
  visibility: visible;
  background: white;
  // z-index: 90;
  height: 100%;
  // max-width: 50vw;
}
.leftImg {
  position: absolute;
}

.rose {
  background: #d31e76;
}

.maroon {
  background: #2f0e0e;
}

.grey {
  background: #333;
}

.green {
  background-color: #1c8a55;
}

.blue {
  background-color: #2196c7;
}

.lightBlue {
  background-color: #7cb8e4;
}

.turquoise {
  background-color: #54c5d2;
}
.black {
  background-color: #141414;
}

.image img {
  filter: brightness(0.8);
}

@media (max-width: 699px) {
  .description {
    padding: 2rem !important;
  }
  .phaseHeading {
    font-size: 3rem;
  }
  .descriptionText {
    // position: absolute;
    // z-index: 2000000;
    // width: 100vw;
    // left: 0;
    // right: 0;
  }
}
