// .lineContainer {
//   height: 100vh;
// }
.servicesContainer {
  display: flex;
  position: relative;
  top: -8rem;
  width: 80%;
  font-family: "MyraidProSemiBold";

  // background-image: linear-gradient(90deg, #139c8e, #0ce162);
  background-color: white;
  box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.061);
  // min-height: 150vh;
  // height: 70rem;
  z-index: 5;
  // padding-top: 5%;
}
.services {
  //   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1c8a55", endColorstr="#2196c7", GradientType=1 );
  min-height: 100%;
  // min-height: 280vh;
  margin-bottom: 10%;
  // padding-left: 10rem;
  display: flex;
  flex-direction: column;
  float: none;
  align-items: center;
  img {
    object-fit: contain;
    // opacity: 0;
  }
}

.servicesTitle {
  display: flex;
  // flex-direction: column;

  width: 100%;
  // min-height: 42rem;
  // min-height: 768px;
  height: 60vh;

  // padding-left: 10rem;
  .headingText {
    width: 80%;
    padding-left: 10rem;
    padding-top: 5rem;
    background-color: #141414;
    & > h3 {
      margin-bottom: 1%;
      // background-image: -webkit-gradient(
      //   linear,
      //   left top,
      //   right top,
      //   from(#139c8e),
      //   to(#0ce162)
      // );
      // background-image: linear-gradient(90deg, #139c8e, #0ce162);
      // -webkit-background-clip: text;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
      color: white;
    }
    h1 {
      margin-bottom: 9%;
      // color: #333;
      // color: white;
      font-family: "Oswald", sans-serif;
      font-size: 4rem;
      text-transform: uppercase;
      max-width: 100%;
      line-height: 1.1;
      background-image: linear-gradient(90deg, #139c8e, #0ce162);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    //   background-color: #141414;
  }
  .servicesImg {
    width: 50%;
    min-height: 100%;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
.gradientText {
  height: 10rem;
  h2 {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#139c8e),
      to(#0ce162)
    );
    background-image: linear-gradient(90deg, #139c8e, #0ce162);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // svg {
  //   display: block;
  // }
}
.contentContainer {
  display: flex;
  width: 100%;
  // background-color: #7cb9e42d;
  // background-color: #eaf6ff;
  background-color: #fcfcfc;
  padding: 3rem 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  .servicesTitleContainer {
    width: 50%;
  }
  .descriptionContainer {
    width: 50%;
    .serviceDescription {
      display: none;
      &.active {
        display: block;
      }
      p {
        font-family: "MyraidProLight";
        font-size: 1.3rem;
      }
    }
  }
  .content {
    display: flex;
    // flex-direction: row-reverse;
    // justify-content: space-between;
    // min-height: 250px;
    // height: 20rem;
    overflow-y: hidden;
    width: 100%;
  }
  .service {
    display: flex;
    width: 100%;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // width: 50%;

    .title {
      display: flex;
      margin-bottom: 3rem;
      // width: 50%;
      svg {
        width: 4rem;
        margin-right: 2rem;
      }
      h2 {
        font-family: "MyraidProSemiBold";
        // font-size: 1.8rem;
        font-size: 1.3rem;
        // color: rgb(209, 209, 209);
        // font-family: "MyraidProSemiBold";
        margin-bottom: 0;
        line-height: 4rem;
      }
    }

    p {
      font-family: "MyraidProSemiBold";

      // opacity: 0;
    }
  }
}
.servicesSolid {
  height: 100%;
  width: 50%;
}
.servicesImg {
  width: 100%;
  height: 100%;
  img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
  }
}

.lineColumn {
  min-height: 100%;
  float: none;
  margin-right: 100px;
}
.line {
  position: relative;
  display: block;
  min-height: 100%;
  width: 1px;
  //   background-color: hsla(0, 0%, 100%, 0.05);
  background-color: #d4e0e6;
  float: none;
  .pinnedLine {
    display: block;
    margin: 0px;
    //   inset: 0px 0px 2544px;
    position: absolute;
    flex-basis: auto;
    overflow: visible;
    box-sizing: border-box;
    width: 1px;
    min-height: 100%;
  }
}

.activeLine {
  position: absolute;
  height: 75px;
  //   transform: translate(0px, 187.6px);
  margin: 0px;
  max-width: 1px;
  width: 2px;
  max-height: 128px;
  padding: 0px;
  background-color: #1c8a55;
  //   background-image: -webkit-gradient(
  //     linear,
  //     left top,
  //     right top,
  //     from(#139c8e),
  //     to(#0ce162)
  //   );
  //   background-image: linear-gradient(90deg, #139c8e, #0ce162);
  //   -webkit-background-clip: text;
  //   background-clip: text;
  //   -webkit-text-fill-color: transparent;
  float: none;
}

@media (min-width: 700px) and (max-width: 1199px) {
  // .card {
  //   min-width: 50%;
  // }
  .card:first-child {
    margin-left: 4rem;
  }
  .servicesContainer {
    padding-left: 4rem;
  }
  .servicesTitle {
    padding-right: 4rem;
    padding-left: 4rem;
    h1 {
      max-width: 70%;
    }
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .solutionCard:first-child {
    margin-left: 1.3333rem;
  }
  .servicesTitle {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
    width: 100%;
    max-width: 100%;
    h1 {
      font-size: 3.33333rem;
      max-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
  .servicesContainer {
    padding-left: 3.33333rem;
  }
}
@media (max-width: 699px) {
  .solutionCard {
    min-width: 80%;
    // margin-right: 10%;
  }
  .industryCards {
    gap: 5%;
  }
  .servicesTitle {
    max-width: 100%;
    width: 100%;
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
  }
  .servicesTitle h1 {
    max-width: 100%;
    margin-bottom: 20%;
    font-size: 2.66667rem;
    width: 100%;
  }
  .servicesContainer {
    padding-left: 1.3333rem;
  }
}

@media (max-width: 499px) {
  .solutionCard:first-child {
    margin-left: 1.3333rem;
  }
  .servicesTitle h1 {
    font-size: 2.66667rem;
  }
}
