.phasesList {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  transform-style: perserve-3d;
  z-index: 1000;
  li {
    grid-area: 1 / 1;
    user-select: none;
    visibility: hidden;
    text-align: center;
    text-transform: uppercase;
    visibility: hidden;
  }
}
.wrap {
  transform-style: perserve-3d;
}

@media (max-width: 699px) {
  .phasesList {
    li {
      height: 40vw;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
