@import "../../vars.scss";

.linkBtn {
  border: none;
  border-radius: 2rem;
  // color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;

  span {
    margin-bottom: 0;
    font-size: 1rem;
    font-family: var(--mainFont);
    // color: $Primary;
    color: inherit;
    position: relative;
    // z-index: 2;
  }
  svg {
    width: 1.5rem;
    // margin-top: -2px;
    color: inherit;
    position: relative;
    z-index: 3;
  }
  span {
    position: relative;
    z-index: 3;
  }
  &::before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    // background: #54c5d2;
    transform: translatex(-101%);
    border-radius: inherit;
    z-index: 2;
  }
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: inherit;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transform: scale(0.98);
    border-radius: 3rem;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    // color: #1d2b28;
  }
  &:hover {
    &::before {
      animation: swipe 400ms ease-in-out forwards;
    }
  }
}

@keyframes swipe {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(0%);
  }
}
