.backgroundOverlay {
  position: relative;
  max-width: 100vw;
  // width: 100vw;
  height: 100vh;
  // background: #f6f9fb;
  min-height: 830px;
  // padding-top: 6.66667rem;
  padding-top: 7%;
  // top: -300px;
  // top: -250px;
  box-sizing: border-box;
  background-color: transparent;
}
.landingPage {
  max-width: 79%;
  overflow: hidden;
  margin: 0 auto;
  // height: calc(100vh - 80px);
  height: 82%;
  // margin-top: 4.66667rem;
  position: relative;
  border-radius: 20px;
  // z-index: 6;
  .landingPage:before {
    content: "";
    position: absolute;
    background: url(../../SVG/bg.svg) no-repeat 100% 100%;
    background-image: url(../../SVG/bg.svg);
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    pointer-events: none;
    width: 900px;
    height: 900px;
    right: 0;
    background-size: 100%;
    bottom: 0;
  }
}
.storyIntro {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // background-image: linear-gradient(90deg, #54c5d2, #1c8a55);
  // background-image: linear-gradient(90deg, #139c8e, #0ce162);
  background-color: #184543;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;

  h1 {
    font-family: MyraidProSemiBold;

    color: white;
  }
}
.whiteBackground {
  background-color: #f6f9fb !important ;
}
.overlay {
  z-index: 20;
  background-color: black;
  opacity: 0.2;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 0;
  overflow: hidden;
  // z-index: 5;
}

.box {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 200vw;
}

.leftTransition {
  top: 50%;
  visibility: visible;
  right: 50%;
  transform-origin: 100% 50%;
  transform: translate(0, -50%);
}

.rightTransition {
  visibility: visible;
  left: 50%;
  top: 50%;
  transform-origin: 0% 50%;
  transform: translate(0, -50%);
}

.rightImg {
  position: absolute;
  left: 50%;
  width: 50vw;
  bottom: 0;
}

.hidden {
  visibility: hidden;
}
.description {
  height: 100%;
  width: 50%;
}
.clock__dial__hour {
  opacity: 0;
}

.clock__dial {
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  // transform: rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}
.phaseHeading {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // font-family: MyraidProSemiBold;
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  color: white;
  white-space: nowrap;
  height: 8rem;
  overflow: visible;
  display: flex;
  align-items: center;
}
.pagePart {
  width: 100%;
  max-width: 100%;
  // display: flex;
  position: absolute;
  height: 100%;
  visibility: visible;
  opacity: 1;
  color: white;

  .image {
    width: 50%;
    min-height: 100%;
    height: 100%;
    // z-index: 3;
    position: relative;
    // float: right;
    background-color: inherit;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  .description {
    color: white;
    width: 50%;
    position: relative;
    display: flex;
    height: 100%;
    min-height: 100%;
    background: inherit;
    font-family: MyraidProReg;
    align-items: flex-end;
    // position: relative;
    padding: 4rem;

    font-size: 1.2rem;
    // float: left;
    // z-index: 3;
  }
  h3 {
    color: white;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
.visible {
  visibility: visible;
}
.pagePart.odd {
  // flex-direction: row-reverse;
  .image {
    float: left;
  }
  .description {
    float: right;
  }
}
.pagePart.even {
  // flex-direction: row-reverse;
  .image {
    float: right;
  }
  .description {
    float: left;
  }
}
.secondSection {
  background-color: red;
}
.active {
  visibility: visible;
  background: white;
  // z-index: 90;
  height: 100%;
  // max-width: 50vw;
}
.leftImg {
  position: absolute;
}

.rose {
  background: #d31e76;
}

.maroon {
  background: #2f0e0e;
}

.grey {
  background: #333;
}

.green {
  background-color: #1c8a55;
}

.blue {
  background-color: #2196c7;
}

.lightBlue {
  background-color: #7cb8e4;
}

.turquoise {
  background-color: #54c5d2;
}
.black {
  background-color: #141414;
}

.image img {
  // filter: brightness(0.8);
  opacity: 0.7;
}

@media (max-width: 699px) {
  .clock__dial {
    width: 60%;
  }
  .description {
    padding: 2rem !important;
  }
  .phaseHeading {
    font-size: 3rem;
  }
  .descriptionText {
    // position: absolute;
    // z-index: 2000000;
    // width: 100vw;
    // left: 0;
    // right: 0;
  }
  .box {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 300vw;
  }
}

.colors0 {
  // background: hsla(151, 66%, 33%, 1);

  // background: linear-gradient(
  //   90deg,
  //   hsla(151, 66%, 33%, 1) 0%,
  //   hsla(151, 40%, 39%, 1) 0.5%
  // );

  // background: -moz-linear-gradient(
  //   90deg,
  //   hsla(151, 66%, 33%, 1) 0%,
  //   hsla(151, 40%, 39%, 1) 0.5%
  // );

  // background: -webkit-linear-gradient(
  //   90deg,
  //   hsla(151, 66%, 33%, 1) 0%,
  //   hsla(151, 40%, 39%, 1) 0.5%
  // );

  // background: hsla(198, 72%, 45%, 1);
  background: #2196c7;

  // background: linear-gradient(
  //   135deg,
  //   hsla(198, 72%, 45%, 1) 0%,
  //   hsla(170, 75%, 53%, 1) 100%
  // );

  // background: -moz-linear-gradient(
  //   135deg,
  //   hsla(198, 72%, 45%, 1) 0%,
  //   hsla(170, 75%, 53%, 1) 100%
  // );

  // background: -webkit-linear-gradient(
  //   135deg,
  //   hsla(198, 72%, 45%, 1) 0%,
  //   hsla(170, 75%, 53%, 1) 100%
  // );

  // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2196C7", endColorstr="#2DE1C2", GradientType=1 );
}
.colors1 {
  background: #77d497;
}
.colors2 {
  // background: hsla(198, 57%, 31%, 1);

  // background: linear-gradient(
  //   90deg,
  //   hsla(198, 57%, 31%, 1) 0%,
  //   hsla(198, 72%, 45%, 1) 0.5%
  // );

  // background: -moz-linear-gradient(
  //   90deg,
  //   hsla(198, 57%, 31%, 1) 0%,
  //   hsla(198, 72%, 45%, 1) 0.5%
  // );

  // background: -webkit-linear-gradient(
  //   90deg,
  //   hsla(198, 57%, 31%, 1) 0%,
  //   hsla(198, 72%, 45%, 1) 0.5%
  // );
  background: #54c5d2;

  // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#22627d", endColorstr="#2196c7", GradientType=1 );
}
.colors3 {
  background: #2196c7;
}
.colors4 {
  background-color: #54c5d2;
}

.clock__dial__hour__circle {
  fill-opacity: 0;
}

.transparent {
  background-color: transparent;
}

@media (min-width: 700px) and (max-width: 1199px) {
}

@media (min-width: 500px) and (max-width: 699px) {
}
@media (max-width: 699px) {
  .landingPage {
    max-width: 95%;
  }
}

@media (max-width: 499px) {
}
