@import "../../vars.scss";
.HomePageContainer {
  // background-color: $Primary;
  background-color: $Primary;
  // background-color: #0b130d;
  // background-color: #243d30;
}
.navBg {
  background: $Primary;
  color: #dbd8d3;
}
