.textContainer {
  font-size: 1.07rem;
  font-family: MyraidProSemiBold;
  width: 70%;
  line-height: 1.4;
}
.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.imgContainer {
  width: 100%;
  //   height: 70%;
  // max-height: 400px;
  aspect-ratio: auto 632 / 471;
  margin-bottom: 1.6rem;
  position: relative;
  .image {
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    img {
      position: relative;
      min-width: 100%;
      width: 120%;
      object-fit: cover;
      object-position: center center;
      transform: scale3d(1, 1, 1);
      transition: all 0.2s linear;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
.cardButtonContainer {
  position: absolute;
  //   width: 100%;
  width: 40%;
  right: 20px;
  bottom: -1.4rem;
  z-index: 3;
  //   min-height: 80px;
}

.industryCardBtn {
  align-items: center;
  justify-content: center;
  border: none !important ;
  //   margin: 10px 0 10px 1.4rem;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
  display: block;
  border-radius: 7px;
  position: relative;
  background: white;
  z-index: 2;
  //   border: 2px solid;
  padding: 10px;
  width: 100%;
  height: 3.7rem;
  display: flex;
  line-height: 3;
  overflow: hidden;
  cursor: pointer;
  svg {
    width: 25px;
    margin-left: 10px;
    margin-top: -7px;
    color: #00b295;
  }
  &:focus {
    outline: none;
  }

  &:hover {
  }
  p {
    margin: 0;
  }
  &::before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #00b295;
    transform: translatex(-100%);
    // z-index: -1;
  }
}
*::before,
*::after {
  z-index: -1;
}

@keyframes swipe {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(0%);
  }
}

.card {
  min-height: 400px;
  position: relative;
  cursor: pointer;
  &:hover {
    .industryCardBtn::before {
      animation: swipe 400ms ease-in-out forwards;
    }
    .cardButtonContainer {
      color: white;
      svg {
        color: white;
      }
    }
    img {
      // transition: all 0.3s linear;
      -webkit-transform: scale3d(1.2, 1.2, 1);
      transform: scale3d(1.1, 1.1, 1);
    }
  }
}

@media (max-width: 699px) {
  .card {
    min-width: 100%;
    .textContainer {
      width: 80%;
    }
    .industryCardBtn {
      width: 100%;
      height: 3rem;
    }
    .cardButtonContainer {
      width: 50%;
    }
  }
}
