@import "../vars.scss";

.navBar {
  background: white;
  color: $Primary;
  button {
    background-color: green !important;
  }
  img {
    &:first-child {
      visibility: visible;
    }
    &:nth-child(2) {
      visibility: hidden;
    }
  }
  .navBarBg {
    background: white !important;
    backdrop-filter: initial;
    box-shadow: none !important;
  }
}
