.transformationStepsWrapper {
  color: black;
  width: 100%;
  padding: 10%;
  height: auto;
  .transformationSteps {
    display: flex;
    // margin-bottom: 50vh;
  }
  & * {
    color: inherit;
  }
  .stepOne {
  }
  .firstColumn {
    width: 50%;
    .steps {
      display: flex;
      height: 100%;
      .step {
        height: 100vh;
        display: flex;
        align-items: center;
      }

      .stepText {
        width: 100%;
        h1 {
          font-size: 1.2rem;
          font-family: "MyraidProLight";
          margin-bottom: 0;
        }
        h2 {
          font-size: 2.3rem;
        }
        p {
          width: 60%;
          //   visibility: hidden;
          color: rgb(97, 97, 97);
          font-family: "MyraidProLight";
          font-size: 1rem;
        }
      }
      .line {
        width: 2px;
        height: 100%;
        background-color: black;
        margin-right: 5rem;
        opacity: 0.2;
      }
    }

    .sectionTitle {
      //   font-family: MyraidProSemiBold;
      //   font-family: MyraidProSemiBold;
      // font-family: "Oswald", sans-serif;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 3rem;
      text-transform: uppercase;
      width: 80%;
      line-height: 1.2;
      margin-bottom: 5rem;
      color: #141414;
    }
  }
  .secondColumn {
    width: 45%;
    height: calc(40rem * 6);
    display: flex;
    padding-top: 7rem;
    .imgsWrapper {
      height: calc(100vh - 260px);
      overflow: hidden;
      width: 100%;
    }
    .imgWrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
    .stepImgWrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    .imgsWrapper > div {
      //   padding-top: 15rem;
    }
    img {
      //   background: linear-gradient(to left bottom, #1c8a55d3, #54c6d2c0);
      background-color: #54c5d2;
      box-sizing: content-box;
      width: 100%;
      //   height: 20rem;
      height: 100%;
      object-fit: contain;
      //   &:first-child {
      //     margin-top: 0;
      //   }
    }
  }
}
