@import "../../vars.scss";

.contactFormWrapper {
  position: relative;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 10rem 4rem;
  // background-color: #dbd8d3;
  background-color: white;
}
.firstColumn {
  width: 50%;
  font-family: Poppins;
  padding-left: 7%;
  h1 {
    font-weight: 400;
    font-size: 5rem;
    // color: $Primary;
    // color: #90c0a1;
    color: #8aa39b;
    width: 50%;
    line-height: 1.2;
  }
}
.secondColumn {
  width: 50%;
}
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  input,
  textarea {
    border: none;
    background: rgb(235, 235, 235);
    // border-bottom: solid 1px #d0d0d0a7;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: $Primary;
    width: 90%;
  }
  textarea {
    resize: none;
    // border: 1px solid #d0d0d0a7;
    // background: whitesmoke;
    border-radius: 5px;
    // background: none;
    height: 12rem;
    padding: 2rem;
  }

  .inputField {
    width: 100%;
    input,
    textarea {
      width: 100%;
    }
    button {
      width: 10rem;
      border-radius: 10rem;
      // background-color: #90c0a1;
      background-color: #8aa39b;

      color: $Primary;
    }
  }
}
.locationInfoWrapper {
  display: flex;
}
.locationInfo {
  padding: 19% 7%;
  display: flex;
  flex-direction: column;
  // d-items: center;
  justify-content: center;
  height: inherit;
  width: 50%;
  font-family: Poppins;
  font-weight: 300;
  // background-color: #84a07c;
  background-color: #8aa39b;
  color: white;
  .locationInfoText {
    width: 15rem;
  }
  h1 {
    font-weight: inherit;
    width: 10rem;
  }
}
.locationImg {
  height: inherit;
  img {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: inherit;
    object-fit: cover;
  }
  width: 50%;
}
.footer {
  height: 20rem;
  background-color: $Primary;
}

@media screen and (max-width: 699px) {
  .contactFormWrapper {
    flex-direction: column;
    padding: 5rem 2rem;
  }
  .firstColumn {
    width: 100%;
    padding-left: 0;
    h1 {
      width: 70%;
      font-size: 3rem;
    }
  }
  .secondColumn {
    width: 100%;
  }
  .locationInfoWrapper {
    flex-direction: column;
  }
  .locationInfo {
    width: 100%;
    height: 30rem;
  }
  .locationImg {
    width: 100%;
    height: 30rem;
  }
}
