.sectionHeading {
  display: flex;
  min-height: 70vh;
  height: 70vh;
  width: 100%;
  .headingImg {
    width: 50%;
    overflow: hidden;
    img {
      width: 100%;
      min-height: 120%;
      object-fit: cover;
    }
  }
  & h1 {
  }
  & h3 {
    font-family: MyraidProSemiBold;
    font-size: 1.4rem;

    color: white;
  }
}
.revealAnimationHeader {
  width: 100%;
  .textLine {
    overflow: hidden;
    // position: relative;
    display: inline-block;
    // height: 3rem;
    span {
      display: inline-block;
    }
  }
}
.headingText {
  // background-image: linear-gradient(90deg, #141414, #54c5d2);
  background-color: #0f0f0f;
  // background-color: #184543;
  width: 70%;
  // padding: 5rem 0 0 10rem;
  padding: 6rem 10rem;
  line-height: 136px;
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  // width: 30rem;
  color: white;
  h1 {
    font-size: inherit;
    color: inherit;
  }
  span {
    font-size: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
}
.sectionIcon {
  margin-left: 2rem;
  width: 7rem;
  svg {
    color: #00b295;
  }
}
@media (min-width: 700px) and (max-width: 1199px) {
  .headingText {
    padding-right: 4rem;
    padding-left: 4rem;
    h1 {
      max-width: 70%;
    }
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .headingText {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
    width: 100%;
    max-width: 100%;
    h1 {
      font-size: 3.33333rem;
      max-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 699px) {
  .sectionHeading {
    flex-direction: column-reverse;
    min-height: 70vh;
    .revealAnimationHeader {
      position: relative;
      width: 70%;
      top: 15%;
    }
    .headingText {
      max-width: 100%;
      display: flex;
      align-items: flex-start;
      width: 100%;
      padding: 0 1.3333rem;
      padding-bottom: 1rem;
      min-height: 60%;
      height: 60%;
      line-height: 4rem;
      font-size: 3.2rem;
      h1 {
        margin-bottom: 0;
      }
    }
    .headingImg {
      min-height: 40%;
      height: 40%;
      width: 100%;
      img {
        width: 100%;
        min-height: initial;
      }
    }
  }

  .headingText h1 {
    max-width: 100%;
    margin-bottom: 20%;
    // font-size: 2.66667rem;
    width: 100%;
  }

  .sectionIcon {
    // margin-left: 2rem;
    width: 3.5rem;
  }
}

@media (max-width: 499px) {
  // .sectionHeading h1 {
  //   font-size: 2.66667rem;
  // }
}
