@import "../../vars.scss";
.solutions {
  display: flex;
  flex-direction: column;
  overflow: visible;

  // height: 120vh;
  margin-bottom: 7%;
}

.scrollMenuWrapper {
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;
  top: -10rem;
  botton : {
    margin-right: 1rem !important;
    margin-bottom: 0rem !important;
  }
}
.cards {
  height: 30rem !important;
  position: relative;
  display: flex;
  align-items: center;
  overflow-y: visible;
  overflow-x: hidden;
  justify-content: space-between;
  gap: 2%;
  position: relative;
  padding: 2rem 0;
}

.arrowBtn {
  // margin-bottom: 2rem;

  svg polygon {
    fill: white !important;
  }
  svg circle {
    stroke: white !important;
  }
}
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: inherit;
}

.leftArrow {
  svg polygon {
    fill: white !important;
    // stroke: white !important;
  }
  svg circle {
    stroke: white !important;
  }
}
.rightArrow {
  color: white;

  svg polygon {
    fill: white !important;
    // stroke: white !important;
  }
  svg circle {
    stroke: white !important;
  }
}
.scrollMenuWrapper {
  // top: -15%;
}
.solutionCard {
  z-index: 2;
  border-radius: 0.53333rem;
  cursor: pointer;
  position: relative;

  padding: 30px 50px;

  // box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.103);
  width: 23%;
  // min-width: 25rem;
  min-width: 28rem;
  height: 100%;
  border: 2px solid #f1f0f0;
  box-shadow: rgba(149, 157, 165, 0.118) 0px 8px 24px;
  // box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  &:last-child {
    margin-right: 5%;
  }
  // background-color: #f4f4f9;
  // background-color: #f9f9f9;
  background-color: #fdfffc;
  // background-color: #f9f9f9;

  font-family: Poppins;
  font-weight: 300;

  & > div {
    height: 100%;
  }
  &:first-child {
    margin-left: 10rem;
  }
  ul {
    list-style: none; /* Remove default bullets */
    opacity: 0;
    font-size: 1rem;
    font-family: MyraidProReg;
    padding-left: 4px;
    margin-bottom: 0.6rem;
    height: 70%;
    position: relative;
    top: 10%;
  }
  ul li {
    margin-bottom: 3px;
    line-height: 30px;
    height: 30px;
    vertical-align: text-bottom;
    padding-left: 20px;
    background-image: url("../../SVG/ellipse.svg");
    background-position: 0% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    white-space: nowrap;
  }
  .cardWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: inherit;
  }
  .cardHeading {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 2rem;
    top: 20%;

    font-family: Poppins;
    font-weight: 300;
    svg {
      width: 3.5rem;
      margin-right: 2rem;
      color: $Primary !important;
      opacity: 0.8;
      // color: #90c0a1 !important;
    }
    .cardTitle {
      max-height: 34px;
      overflow: hidden;
      h2 {
        font-family: Poppins;
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
    .normalTitle {
      // font-size: 1.4rem;
      font-size: 3rem;
      line-height: 34px;
      color: $Primary;
    }
    // .coloredTitle {
    //   font-size: 1.4rem;
    //   line-height: 34px;
    //   color: #00b295;
    //   height: inherit;
    // }
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .card:first-child {
    margin-left: 4rem;
  }
  .headingText {
    padding-right: 4rem;
    padding-left: 4rem;
    h1 {
      max-width: 70%;
    }
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .solutionCard:first-child {
    margin-left: 1.3333rem;
  }
  .headingText {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
    width: 100%;
    max-width: 100%;
    h1 {
      font-size: 3.33333rem;
      max-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 699px) {
  .scrollMenuWrapper {
    position: relative;
    top: -8.5rem;
  }

  .arrowBtn {
    margin-bottom: 0rem;
  }
  .solutionCard {
    min-width: 80%;
  }
  .industryCards {
    gap: 5%;
  }
  .headingText {
    max-width: 100%;
    width: 100%;
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
  }
  .headingText h1 {
    max-width: 100%;
    margin-bottom: 20%;
    font-size: 2.66667rem;
    width: 100%;
  }
}

@media (max-width: 499px) {
  .solutionCard:first-child {
    margin-left: 1.3333rem;
  }
  .solutionsHeading h1 {
    font-size: 2.66667rem;
  }
}
