@import "../../global.scss";
.navbar {
  // margin-top: 20px;
  //   height: 4.66667rem;
  // height: 5rem !important;

  // color: #333;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9;
  width: 100%;
  color: white;
}

.navItems {
  height: 4.66667rem;
  padding: 0 45px;
  // font-family: MyraidProSemiBold;
  font-family: MyraidProSemiBold;
  font-size: inherit;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  color: inherit;
  // border-bottom: 1px solid #d4e0e6;
  // background-color: white;
  // border-bottom: 1px solid #d4e0e6;
  // color: white;
  // color: inherit;
  z-index: 8;
  .navBackground {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffff;
    z-index: -1;
  }
  .rightBorder {
    // border-right: 1px solid #d4e0e62c;
  }

  ul {
    height: 100%;
  }
  .navItem {
    // padding: 1.4rem;
    position: relative;
    display: flex;
    align-items: center;
    // color: #141414;
    // height: 100%;
    line-height: 2.1;
    cursor: pointer;
    color: inherit;
    height: auto;
    height: 100%;
    // a {
    //   color: white;
    // }
    a {
      color: inherit;
      // padding-bottom: 1.5rem;
      padding: 1.4rem;
      height: inherit;
    }
    &:hover {
      text-decoration: none;
      color: #1c8a55;
    }
    svg {
      margin-left: 5px;
      //   margin-top: -10px;
    }
    a {
      white-space: nowrap;
    }

    // height: 78px;
  }
  // .industry {
  //   padding-bottom: 1.9rem;
  //   line-height: 28px;

  //   // line-height : 55px ;
  // }
}
.logo {
  position: absolute;
  top: 16px;
  left: 5px;
  padding: inherit;
  img {
    height: 2.3rem;
    position: absolute;
  }
}
.langButton {
  // border-left: 1px solid #d4e0e6;
}
.modifiedMenu {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modified {
  font-family: MyraidProSemiBold;
  font-size: 1.6rem;
}

.modifiedListItem {
  padding: 1rem !important;
  width: 33% !important;
  &:first-child {
    padding-top: 35px !important;
  }
  &:last-child {
    // padding-bottom: 35px !important;
  }
  &:hover {
    color: #1c8a55 !important;
    background-color: transparent !important;
  }
}

.contactButton {
  align-items: center;
  justify-content: center;
  border: none !important ;
  // margin: 10px 10px 10px 1.4rem;
  display: block;
  border-radius: 7px;
  // background: #1c8a55;
  // background: #1c8a55;
  // background-image: linear-gradient(90deg, #139c8e, #0ce162);
  // background-image: linear-gradient(90deg, #54c5d2, #1c8a55);

  // background-image: linear-gradient(90deg, #1c8a55, #54c5d2);
  // background-color: #184543;
  z-index: 2;
  //   border: 2px solid;
  // background: linear-gradient(to left bottom, #1c8a55, #54c6d2);
  // background: #00b295;
  padding: 10px;
  width: 11rem;
  height: 3.1rem;
  display: flex;
  line-height: 3;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  svg {
    width: 25px;
    margin-left: 10px;
    margin-top: -7px;
    // color: white;
  }
  &:focus {
    outline: none;
  }

  &:hover {
    color: #141414;
  }
}
*::before,
*::after {
  z-index: -1;
}

.contactButton {
  color: white;
  hegiht: 90%;
  // transform-origin: left center
  // transform: translateZ(0);

  // animation: colorchange 2s linear alternate infinite;

  p {
    margin: 0;
    // will-change: "transform";
  }
  &::before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #54c5d2;
    transform: translatex(-100%);
    // z-index: -1;
  }

  &:hover {
    &::before {
      animation: swipe 400ms ease-in-out forwards;
      color: black;
    }
  }
}

.whiteLogo {
  visibility: visible;
}
.normalLogo {
  visibility: hidden;
}

@keyframes swipe {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(0%);
  }
}

@media screen and (max-width: 999px) {
  .contactButton {
    position: absolute;
    svg {
      width: 15%;
    }
    top: 16px;
    right: 4rem;
  }
}

.black {
  color: black !important;
}
.white {
  color: white !important;
}

.emptyButton {
  background: #11ffee00;
}
@media (max-width: 699px) {
  .logo {
    padding: 0;
    padding-left: inherit;
  }
  .navItems {
    padding: 1.3rem;
  }
  .logo {
    top: 20px;
    left: 5px;
    img {
      height: 2rem;
    }
  }
}

.fullScreenMenu {
  width: 100%;
  .modifiedListItem {
    width: 70% !important;
    line-height: 100% !important;
  }
}

@keyframes colorchange {
  from {
    transform: scale(1);
  }
  to {
    // fill: moccasin;
    transform: scale(1.1);
    // opacity: 0.4;
  }
}
