@import "../../vars.scss";

.sectionHeading {
  display: flex;
  // min-height: 70vh;
  // min-height: 75vh;
  // height: 70vh;
  width: 100%;
  font-size: 5.4rem;
  // font-size: 5.4rem;

  .headingImg {
    width: 50%;
    overflow: hidden;
    // background-color: $Primary;
    // background-color: #111917;
    background-color: $Primary;

    img {
      width: 100%;
      min-height: 120%;
      object-fit: cover;
      opacity: 0.8;
      mix-blend-mode: hard-light;
    }
  }

  .headingText h1 {
  }
}
.revealAnimationHeader {
  width: 100%;
  margin-bottom: 2rem;
  .textLine {
    overflow: hidden;

    display: inline-block;
    // line-height: 5rem;
    line-height: 9rem;

    font-family: "Poppins", sans-serif;
    // font-family: MyraidProSemiBold, sans-serif;
    // font-family: MyraidProBold, sans-serif;
    // font-family: MyraidProReg, sans-serif;
    // font-weight: 800;
    // font-weight: 600;
    font-weight: 600;
    text-transform: uppercase;
    font-size: inherit;

    span {
      display: inline-block;
    }
  }
}
.headingText {
  background-color: $Primary;
  // background-color: #141414;
  // background-color: $Primary;
  // background-color: #111917;
  // background-color: #8aa39b;

  // width: 70%;
  width: 50%;
  padding: 13rem 10rem 16rem 10rem;
  // padding-bottom: 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  justify-content: flex-start;
  // line-height: 90px;
  line-height: 5rem;

  margin-bottom: 0;

  color: $Primary;
  color: white;
  // color: #d7d3c9;
  color: #fdfffc;

  // color: #90c0a1;
  h1 {
    font-size: inherit;
    color: inherit;
  }
  span {
    font-size: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
}
.sectionIcon {
  margin-left: 2rem;
  // width: 7rem;
  width: 5vw;
  svg {
    // color: #90c0a1;
    // color: $Primary;
    // color: #90c0a1;
    color: #9abea3;
  }
}
.btn {
  // background-color: #90c0a1;
  // background-color: #fdfffc;
  background-color: transparent;
  border: 2px solid #9abea3;
  font-size: 1rem;
  font-family: Poppins;
  font-weight: 500;
  width: 11rem;
  height: 3.3rem;
  color: $Primary;
  color: #9abea3;
  &::before {
    border-radius: 0 2rem 2rem 0;
    background: #9abea3;
  }
}
@media (min-width: 700px) and (max-width: 1199px) {
  .headingText {
    padding-right: 4rem;
    padding-left: 4rem;
    h1 {
      max-width: 70%;
    }
  }
}
@media (min-width: 500px) and (max-width: 699px) {
  .headingText {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
    width: 100%;
    max-width: 100%;
    h1 {
      font-size: 3.33333rem;
      max-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 699px) {
  .btn {
    margin-top: 5%;
    height: 3rem;
    width: 10rem;
  }
  button {
    position: relative;
    top: 7%;
  }
  .sectionHeading {
    flex-direction: column-reverse;
    min-height: 70vh;
    height: 70vh;
    .revealAnimationHeader {
      position: relative;
      width: 70%;
      padding-top: 10%;
      // top: 15%;
    }

    .headingText {
      max-width: 100%;
      display: flex;
      align-items: flex-start;
      width: 100%;
      padding: 0 1.3333rem;
      padding-bottom: 1rem;
      min-height: 60%;
      height: 60%;
      line-height: 4rem;
      font-size: max(2rem, 12vw);
      padding-right: 1.3333rem;
      padding-left: 1.3333rem;
      width: 100%;
      max-width: 100%;
      .textLine {
        line-height: 4rem;
      }
      h1 {
        max-width: 100%;
        width: 100%;
        max-width: 100%;
      }
      h1 {
        margin-bottom: 0;
      }
    }
    .headingImg {
      min-height: 40%;
      height: 40%;
      width: 100%;
      img {
        width: 100%;
        min-height: 100%;
      }
    }
  }

  .headingText h1 {
    max-width: 100%;
    margin-bottom: 20%;

    width: 100%;
  }

  .sectionIcon {
    width: 3.5rem;
  }
}

@media (max-width: 499px) {
}
