@import "../../vars.scss";

.sectionHeading {
  display: flex;
  width: 100%;
  font-size: 5.4vw;
  // font-size: 5.4rem;
  background-color: #111817f8;

  .headingImg {
    width: 50%;
    overflow: hidden;
    // background-color: $Primary;
    // background-color: #111917;
    background-color: inherit;

    .img {
      width: 100%;
      min-height: 120%;
      object-fit: cover;
      opacity: 0.9;
      mix-blend-mode: hard-light;
    }
  }

  .headingText h1 {
  }
}
.headingText {
  // font-size: 9rem;
  font-size: 8vw;
  width: 50%;
  padding: 12rem 10rem 15rem 10rem;
  // padding-bottom: 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  justify-content: flex-start;
  // line-height: 90px;
  line-height: 5rem;
  margin-bottom: 0;
  color: $Primary;
  color: #fdfffc;
  h1 {
    font-size: inherit;
    color: inherit;
  }
  span {
    font-size: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
}
.revealAnimationHeader {
  width: 100%;
  margin-bottom: 2rem;
  .textLine {
    overflow: hidden;

    display: inline-block;
    // line-height: 5rem;
    line-height: 10rem;

    // font-family: "var(--mainFont)", sans-serif;
    // font-family: "var(--mainFont)", sans-serif;
    font-family: var(--secondaryFont);

    // font-weight: 100;
    text-transform: uppercase;
    font-size: inherit;

    span {
      display: inline-block;
      line-height: inherit;
    }
  }
}

.sectionIcon {
  margin-left: 2rem;
  margin-top: -5rem;
  // width: 7rem;
  width: 7vw;
  svg {
    // color: #90c0a1;
    // color: $Primary;
    // color: #90c0a1;
    color: #9abea3;
  }
}
.btn {
  // background-color: #9abea3;
  background-color: #fdfffc;
  // border: 2px solid #9abea3;
  font-size: 1rem;
  font-family: var(--mainFont);
  font-weight: 500;
  width: 11rem;
  height: 3.3rem;
  color: $Primary;
  // color: #9abea3;
  &::before {
    border-radius: 0 2rem 2rem 0;
    background: #90c0a1;
  }
  &:hover {
    color: $Primary;
  }
}
@media (min-width: 700px) and (max-width: 1199px) {
  .headingText {
    padding-right: 4rem;
    padding-left: 4rem;
    h1 {
      // max-width: 70%;
    }
  }
}
@media (min-width: 500px) and (max-width: 699px) {
  .headingText {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
    width: 100%;
    max-width: 100%;
    h1 {
      // font-size: 3.33333rem;
      max-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 699px) {
  .btn {
    margin-top: 2%;
    height: 2.8rem;
    width: 9rem;
    font-size: max(1rem, 2vw);
  }
  button {
    position: relative;
    top: 7%;
  }
  .sectionHeading {
    flex-direction: column-reverse;
    // min-height: 70vh;
    height: 45rem;
    .revealAnimationHeader {
      position: relative;
      width: 70%;
      padding-top: 10%;
      // top: 15%;
    }

    .headingText {
      max-width: 100%;
      display: flex;
      align-items: flex-start;
      width: 100%;
      // padding: 1rem 1.3333rem;
      padding: 1rem 2rem;
      padding-bottom: 1rem;
      min-height: 60%;
      height: 60%;
      line-height: 5rem;
      font-size: max(2rem, 14vw);
      // padding-right: 1.3333rem;
      // padding-left: 1.3333rem;
      width: 100%;
      max-width: 100%;
      .textLine {
        line-height: inherit;
      }
      h1 {
        max-width: 100%;
        width: 100%;
        max-width: 100%;
      }
      h1 {
        margin-bottom: 0;
      }
    }
    .headingImg {
      min-height: 40%;
      height: 40%;
      width: 100%;
      .img {
        width: 100%;
        min-height: 100%;
      }
    }
  }

  .headingText h1 {
    max-width: 100%;
    margin-bottom: 20%;

    width: 100%;
  }

  .sectionIcon {
    width: 14vw;
    margin-top: -2rem;
  }
}

@media (max-width: 499px) {
}
