@import "../../vars.scss";

.textContainer {
  font-size: 1rem;
  font-family: var(--mainFont);
  padding: 1rem 3rem 1rem 2rem;
  color: $Primary;
  font-weight: 100;
  width: 100%;
  line-height: 1.5;
  p {
    height: 6rem;
    // text-overflow: ellipsis;
  }
}
.cardTitle {
  font-family: var(--mainFont);
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}
.imgContainer {
  width: 100%;
  //   height: 70%;
  // max-height: 400px;
  aspect-ratio: auto 632 / 471;
  margin-bottom: 1.6rem;
  position: relative;
  .image {
    overflow: hidden;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 1rem;

    .img {
      position: relative;
      min-width: 100%;
      width: 120%;
      object-fit: cover;
      object-position: center center;
      transform: scale3d(1, 1, 1);
      transition: all 0.2s linear;
      user-drag: none;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
.cardButtonContainer {
  // position: absolute;
  //   width: 100%;
  padding: 1rem 3rem;

  width: 40%;
  right: 20px;
  // bottom: -1.4rem;
  z-index: 3;
  //   min-height: 80px;
}

.industryCardBtn {
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
  // border-radius: 2rem;
  position: relative;
  background: #fdfffc;
  font-family: var(--mainFont);
  z-index: 2;
  // padding: 10px;
  width: 80%;
  height: 3.3rem;
  left: -3px;
  margin-top: 1.5rem;
  // height: 3rem;
  cursor: pointer;
  color: $Primary;
  font-family: var(--mainFont);
  font-size: 1rem;
  font-weight: 500;
  span {
    margin-right: 0.3rem;
    color: inherit;
    font-size: inherit;
  }
  svg {
    bottom: -2px;
  }
  &::after {
    // border: 2px solid $Primary;
    border: 1px solid $Primary;

    box-sizing: border-box;
  }
  &::before {
    background-color: $Primary;
    // transform: scale(1.2);
  }
  &:hover {
    color: $Primary;
  }
  p {
    margin: 0;
  }
}

@keyframes swipe {
  0% {
    transform: translatex(-100%);
  }
  100% {
    transform: translatex(0%);
  }
}

.card {
  min-height: 400px;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .industryCardBtn::before {
      animation: swipe 400ms ease-in-out forwards;
    }
    .industryCardBtn {
      color: #9abea3;
      svg {
        // color: white;
      }
    }
    .img {
      // transition: all 0.3s linear;
      -webkit-transform: scale3d(1.2, 1.2, 1);
      transform: scale3d(1.1, 1.1, 1);
    }
  }
}

@media (max-width: 999px) {
  .card {
    .textContainer {
      // width: 95%;
      p {
        height: 6rem;
        // height: 30vw;
        font-family: var(--mainFont);
      }
    }
  }
  .cardButtonContainer {
    width: 90%;
  }
  .industryCardBtn {
    margin-top: 5rem;
    // width: 5rem;
  }
}

@media (max-width: 699px) {
  .card {
    min-width: 100%;
    .textContainer {
      width: 95%;
      p {
        height: 7rem;
        font-family: var(--mainFont);
      }
    }
    .industryCardBtn {
      margin-top: 2rem;
      width: 11rem;
      height: 3rem;
      color: $Primary;
    }
    .cardButtonContainer {
      width: 50%;
    }
  }
}
