@import "../../vars.scss";

.industriesSection {
  min-height: 800px;

  margin-top: 10%;
}
.scrollWrapper {
}
.industryCards {
  padding: 2rem;
  padding-left: 10rem;
  display: flex;
  // gap: 3.7%;
  gap: 2.3%;
  width: 100%;
}
.scrollMenuContainer {
  cursor: grab;
  position: relative;
  top: -3rem;
}
.sectionTitle {
  // padding: 5rem 10rem 2rem 10rem;
  padding: 5rem 10rem 1rem 10rem;
  font-family: var(--mainFont);

  font-weight: 300;
  margin-bottom: 0;
  // margin-bottom: 0;
  // white-space: nowrap;
  display: flex;
  flex-direction: column;
  // align-items: center;
  h3 {
    color: $Primary;
    background-clip: text;
    text-transform: uppercase;
    font-size: 1rem;
    color: #1c8a55;
    span {
      color: inherit;
    }
  }
  h1 {
    // color: $Primary;
    color: $Primary;
    // color: #042825;
    // font-family: "var(--mainFont)", sans-serif;
    font-family: var(--secondaryFont), sans-serif;

    font-weight: 900;
    // font-style: italic;

    // font-size: 2.2rem;
    font-size: 3.6rem;

    text-transform: uppercase;
    max-width: 40rem;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
  }
}
.card {
  min-width: 32%;
  width: 50%;

  // box-shadow: rgba(149, 157, 165, 0.161) 0px 8px 24px;
  // border: none;
  overflow: hidden;
  border-radius: 2rem;
  // transition: box-shadow 0.3s ease-in-out, translate 0.3s ease-in-out;

  // &:hover {
  //   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  //   translate: 0 -1rem;
  //   border-color: transparent;
  // }
  &:first-child {
  }
}
.cardsSeperator {
  width: 20px;
}
// .rightArrow {
//   position: absolute;
// }
// .leftArrow {
//   position: absolute;
// }
.arrowBtn {
  bottom: -1rem;
  // width: 2.5rem;
}
// @media (min-width: 700px) and (max-width: 1199px) {
//   .scrollWrapper {
//     padding-left: 4rem;
//   }
//   .sectionTitle {
//     padding-right: 4rem;
//     padding-left: 4rem;
//     h1 {
//       max-width: 70%;
//     }
//   }
// }
@media only screen and (max-width: 999px) {
  .industryCards {
    padding-left: 4rem;
  }
  .sectionTitle {
    padding-right: 4rem;
    padding-left: 4rem;
    h1 {
      max-width: 70%;
    }
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .scrollWrapper {
    padding-left: 0rem;
  }
  .sectionTitle {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
    width: 100%;
    max-width: 100%;
    h1 {
      font-size: 3.33333rem;
      max-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 699px) {
  .industryCards {
    padding-left: 1rem;
  }
  .card {
    min-width: 100%;
    // height: 35rem;
  }
  .industryCards {
    gap: 2%;
  }
  .sectionTitle {
    max-width: 100%;
    width: 100%;
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
  }
  .sectionTitle h1 {
    max-width: 100%;
    margin-bottom: 5%;
    // font-size: 2.66667rem;
    font-size: max(8vw, 1.6rem);
    width: 100%;
  }
}

@media (max-width: 499px) {
  .card:first-child {
    margin-left: 0;
  }
  .sectionTitle h1 {
    // font-size: 7.3vw;
  }
}
