.industriesSection {
  // padding-bottom: 7%;
  // padding-top: 7%;
  min-height: 800px;
  //   padding-left: 10rem;
  margin-top: 10%;
}
.industryCards {
  display: flex;
  gap: 4%;
  width: 100%;
}
.scrollMenuContainer {
  cursor: grab;
}
.sectionTitle {
  padding: 5rem 10rem 2rem 10rem;
  font-family: MyraidProSemiBold;
  margin-bottom: 2%;
  white-space: nowrap;
  h3 {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#139c8e),
      to(#0ce162)
    );
    background-image: linear-gradient(90deg, #139c8e, #0ce162);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h1 {
    color: #0d1f22;
    font-family: "Poppins", sans-serif;
    // font-family: "Gotham Black", sans-serif;
    // font-family: TelegrafBold, sans-serif;
    font-weight: 800;
    font-style: italic;
    // font-size: 4rem;
    // font-size: 3.1rem;
    font-size: 2.7rem;

    text-transform: uppercase;
    max-width: 40%;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
  }
}
.card {
  min-width: 32%;
  width: 50%;
  // margin-right: 5%;
  border: none;
  &:first-child {
    margin-left: 10rem;
  }
}
.cardsSeperator {
  width: 20px;
}
.rightArrow {
  position: absolute;
}
.leftArrow {
  position: absolute;
}
@media (min-width: 700px) and (max-width: 1199px) {
  // .card {
  //   min-width: 50%;
  // }
  .card:first-child {
    margin-left: 4rem;
  }
  .sectionTitle {
    padding-right: 4rem;
    padding-left: 4rem;
    h1 {
      max-width: 70%;
    }
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .card:first-child {
    margin-left: 1.3333rem;
  }
  .sectionTitle {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
    width: 100%;
    max-width: 100%;
    h1 {
      font-size: 3.33333rem;
      max-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 699px) {
  .card {
    min-width: 80%;
    // margin-right: 10%;
  }
  .industryCards {
    gap: 5%;
  }
  .sectionTitle {
    max-width: 100%;
    width: 100%;
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
  }
  .sectionTitle h1 {
    max-width: 100%;
    margin-bottom: 20%;
    font-size: 2.66667rem;
    width: 100%;
  }
}

@media (max-width: 499px) {
  .card:first-child {
    margin-left: 1.3333rem;
  }
  .sectionTitle h1 {
    // font-size: 2.66667rem;
    font-size: 7.3vw;
  }
}
