@import "../../vars.scss";

.industriesSection {
  min-height: 800px;

  margin-top: 10%;
}
.industryCards {
  display: flex;
  gap: 2%;
  width: 100%;
}
.scrollMenuContainer {
  cursor: grab;
}
.sectionTitle {
  // padding: 5rem 10rem 2rem 10rem;
  padding: 5rem 10rem 1rem 10rem;
  font-family: var(--mainFont);

  font-weight: 300;
  margin-bottom: 2%;
  // margin-bottom: 0;
  // white-space: nowrap;
  display: flex;
  flex-direction: column;
  // align-items: center;
  h3 {
    color: $Primary;
    background-clip: text;
    text-transform: uppercase;
    font-size: 1rem;
    color: #1c8a55;
    span {
      color: inherit;
    }
  }
  h1 {
    // color: $Primary;
    color: $Primary;
    // color: #042825;
    // font-family: "var(--mainFont)", sans-serif;
    font-family: var(--secondaryFont), sans-serif;

    font-weight: 900;
    // font-style: italic;

    // font-size: 2.2rem;
    font-size: 3rem;

    text-transform: uppercase;
    max-width: 33rem;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
  }
}
.card {
  min-width: 32%;
  width: 50%;

  border: none;
  &:first-child {
    margin-left: 10rem;
  }
}
.cardsSeperator {
  width: 20px;
}
// .rightArrow {
//   position: absolute;
// }
// .leftArrow {
//   position: absolute;
// }
.arrowBtn {
  bottom: 1.3rem;
  // width: 2.5rem;
}
@media (min-width: 700px) and (max-width: 1199px) {
  .card:first-child {
    margin-left: 4rem;
  }
  .sectionTitle {
    padding-right: 4rem;
    padding-left: 4rem;
    h1 {
      max-width: 70%;
    }
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .card:first-child {
    margin-left: 1.3333rem;
  }
  .sectionTitle {
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
    width: 100%;
    max-width: 100%;
    h1 {
      font-size: 3.33333rem;
      max-width: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
@media (max-width: 699px) {
  .card {
    min-width: 90%;
  }
  .industryCards {
    gap: 2%;
  }
  .sectionTitle {
    max-width: 100%;
    width: 100%;
    padding-right: 1.3333rem;
    padding-left: 1.3333rem;
  }
  .sectionTitle h1 {
    max-width: 80%;
    margin-bottom: 5%;
    // font-size: 2.66667rem;
    font-size: max(7vw, 2rem);
    width: 100%;
  }
}

@media (max-width: 499px) {
  .card:first-child {
    margin-left: 1.3333rem;
  }
  .sectionTitle h1 {
    // font-size: 7.3vw;
  }
}
