@import "./vars.scss";
@font-face {
  font-family: "MyraidProSemiBold";
  src: local("MyraidProSemiBold"),
    url("./fonts/MYRIADPRO-SEMIBOLD.OTF") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "MyraidProReg";
  src: local("MyraidProReg"),
    url("./fonts/MYRIADPRO-REGULAR.OTF") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "MyraidProLight";
  src: local("MyraidProLight"),
    url("./fonts/MyriadPro-Light.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "MyraidProBold";
  src: local("MyraidProLight"),
    url("./fonts/MYRIADPRO-BOLD.OTF") format("truetype");
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap");

// body::after {
//   content : "" ;
//   position : fixed ;

// }
a {
  text-decoration: none;
}
p {
  margin-top: 0;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
}
.overlay {
  z-index: 8;
  background-color: black;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
}
.page-transition__black {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  z-index: 1000;
}

.page-transition__red {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: red;
  z-index: 1000;
}
.transition__logo {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 60px;
  position: absolute;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
.transitionDiv {
  visibility: hidden;
}
.gradientText {
  h2 {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#139c8e),
      to(#0ce162)
    );
    background-image: linear-gradient(90deg, #139c8e, #0ce162);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // svg {
  //   display: block;
  // }
}
// .App {
//   font-size: 17px;
// }
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-size: inherit;
  // background-color: #fdfff7;
  // background-color: #eef8ff;
  background-color: #f4f4f9;
  overflow: visible;
  margin: 0;
}
button {
  background-color: black;
  font-family: MyraidProSemiBold;
  // font-size: 17px !important;
}
.homePage {
  height: 150%;
}

/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
// body,
// html,
// .App {
//   &::-webkit-scrollbar {
//     display: none;
//   }
//   -ms-overflow-style: none; /* IE and Edge */
//   scrollbar-width: none; /* Firefox */
// }

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.clock__dial__hour__circle {
  fill-opacity: 0;
}
.clock__dial__hour {
  opacity: 0;
}
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 100000;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
[data-scroll-container] {
  overflow-y: hidden !important;
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 1000000000;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.ant-dropdown {
  box-shadow: none;
  // width: 100vw !important;
  height: 270px;
  background-color: white;
  ul {
    box-shadow: none;
    width: 25%;
    position: absolute;
    right: 35%;
    top: 0;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 999px) and (max-width: 1199px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1600px) and (max-width: 1799px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1800px) and (max-width: 1999px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 699px) {
  html {
    font-size: 15px;
  }
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.react-horizontal-scrolling-menu--scroll-container {
  order: 1;
}
.react-horizontal-scrolling-menu--wrapper {
  flex-wrap: wrap;
  justify-content: flex-end;
}

.react-horizontal-scrolling-menu--scroll-container {
  order: 1;
  flex-basis: 100%;
  flex-shrink: 0;
}

.textLine {
  overflow: hidden;
  // position: relative;
  display: inline-block;
  span {
    display: inline-block;
  }
}

.chevron-d {
  position: relative;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100%;
    height: 100%;
    .arrow {
      fill: black;
      opacity: 1;
      transform: translateY(0);
    }
    .arrow-2 {
      fill: black;
      opacity: 1;
      transform: translateY(-55px);
    }
  }

  &:hover {
    svg {
      .arrow {
        animation: arrow 1s infinite;
      }
      .arrow-2 {
        animation: arrow-2 1s infinite;
      }
    }
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(55px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes arrow-2 {
  0% {
    transform: translateY(-55px);
    opacity: 0;
  }
  99% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}

.rightNavigationCircle {
  transform: rotate(-90deg);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  .rightBtnCircle {
    // color: #66b186 !important;
    color: transparent;
    stroke-width: 2px;
    stroke: #1d2b28;
    .arrow,
    .arrow-2 {
      color: $Primary;
    }
  }
}
.leftNavigationCircle {
  // transform: rotate(90deg);
  // rotate: 90;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  transform: rotate(90deg);
  .leftBtnCircle {
    stroke-width: 2px;
    color: transparent;
    stroke: #1d2b28;
  }
  .arrow,
  .arrow-2 {
    color: $Primary;
  }
}

@media screen and (max-width: 999px) {
  .chevron-d {
    svg {
      width: 80%;
    }
  }
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  // stroke: #d7d3c9;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 400ms;
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
